.login-page {
  width: 100%;
}

.login-page > .ant-typography {
  margin-block: 0 8px;
}

.login-page__disclaimer {
  margin-block: 24px;
}

.login-page__options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: -4px 12px;
}

.login-page__forgot-link {
  color: #1677ff;
}

.login-page__feedback {
  display: block;
  margin-block-end: 16px;
}

.login-page__submit {
  margin-block-start: 4px;
}
